footer{
    width: 100%;
    height: 25vh;
    color: #fff;
}
.foote-uno{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background: #6d7249;
}
.footer-dos{
    height: 40%;
    background: #333;
}